# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
dist-*/
web-build/
expo-env.d.ts
.runtime/
.git-backup-before-root-import/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa
android-keys.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.err.log
*.out.log

# macOS
.DS_Store
*.pem
.vscode/

# local env files
.env
.env.*
!.env.example
.env*.local
.local-credentials/
credentials/
credentials.json
builds/
store-assets/icons/
store-assets/screenshots/

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

.vercel
.env*
!.env.example
